<!DOCTYPE html>

<html>
	<head>
		title Test Server
		link(rel="stylesheet", href="../styles/primary.css")
	</head>
	<body> 
		block content_var
		br
		hr
		footer 
			p &copy; JM 2021		
	</body>
</html>